<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.securityuserauth.dao.UserProfileExtendMapper">
    <select id="findByUsername" resultType="com.springboot.securityuserauth.entity.UserProfile">
        select id,username,password,enabled,roles,email,create_time,update_time from user_profile where username=#{username}
    </select>
</mapper>